
body {
  background-color: #F8F8F8;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: normal;
  margin: 15px;
}

#old{
  overflow:auto;
}

#locs{
  font-size: 400%;
  text-align: right;
}

.line{
  border-left: solid black 1px;
  border-right: solid black 1px;
}