@import "compass/reset";
body {
  background-color: #F8F8F8;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: normal;
  margin: 15px;
}

.dialog{
  position: absolute;
  left: 20%;
  right:20%;
  top: 20%;
  bottom: 20%;
  background-color: rgba(248,248,248,0.9);
}

.scroll{
  overflow: auto;
}

.line{
  border-left: solid black 1px;
  border-right: solid black 1px;
}

#locs {
  background-color: black;
}

#locs .box{
}

#locs canvas{
  display: block;
  width: 30%;
}